name: HVNC-1 输出到output文件夹
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: microsoft/setup-msbuild@v2
      - name: 编译Client
        run: msbuild Client/HVNC.vcxproj /p:Configuration=Release /p:Platform=x64 /p:LinkIncremental=false
      - name: 编译Server
        run: msbuild Server/Server.vcxproj /p:Configuration=Debug /p:Platform=Win32 /p:LinkIncremental=false
      - name: 建output文件夹
        run: New-Item ./output -ItemType Directory -Force
      - name: 复制所有exe到output
        run: Copy-Item **/*.exe ./output -Exclude **/obj/**/*.exe -Force
      - name: 上传output里的exe
        uses: actions/upload-artifact@v4
        with:
          name: HVNC-1-output编译包
          path: output/*.exe
          retention-days: 7
