name: HVNC-1 根目录输出编译
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 拉取源码
        uses: actions/checkout@v4

      - name: 设置Visual Studio编译环境
        uses: microsoft/setup-msbuild@v2

      - name: 编译被控端（输出到根目录）
        run: msbuild "Client/HVNC.vcxproj" /p:Configuration=Release /p:Platform=x64 /p:OutDir=../../ /p:LinkIncremental=false

      - name: 编译主控端（输出到根目录）
        run: msbuild "Server/Server.vcxproj" /p:Configuration=Debug /p:Platform=Win32 /p:OutDir=../../ /p:LinkIncremental=false

      - name: 上传根目录的exe文件
        uses: actions/upload-artifact@v4
        with:
          name: HVNC-1根目录编译包
          path: |
            *.exe
          retention-days: 7
