name: HVNC-1 最终编译
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 拉取源码
        uses: actions/checkout@v4

      - name: 设置Visual Studio编译环境
        uses: microsoft/setup-msbuild@v2

      - name: 编译被控端（Client项目）
        run: msbuild "Client/HVNC.vcxproj" /p:Configuration=Release /p:Platform=x64 /p:LinkIncremental=false

      - name: 编译主控端（Server项目）
        run: msbuild "Server/HVNC.vcxproj" /p:Configuration=Release /p:Platform=x64 /p:LinkIncremental=false

      - name: 上传编译结果
        uses: actions/upload-artifact@v4
        with:
          name: HVNC-1编译包
          path: |
            Client/x64/Release/*.exe
            Server/x64/Release/*.exe
          retention-days: 7
